@media (max-width: 767px) and (min-width: 480px) {

.h-wrp {
  height: 522px;
}

.header__navi {
  padding-top: 44px;
  margin-left: 0;
}

.navi {
  position: relative;
}

.navi__logo {
  float: none;
  width: 155px;
  margin: 0 auto;
  margin-bottom: 57px;
}

.nav {
  position: absolute;
  visibility: hidden;
  width: 245px;
  right: 50%;
  margin-right:-122px;
  top: 106px;
  z-index: 10;
  overflow: hidden;
  background: rgba(43, 34, 49, 0.8);
  border-radius: 10px;
  border: 1px solid #0f1a20;
}

.nav__item {
  display: block;
  margin-left: 0;
  padding: 0;
  min-width: 244px;
  text-align: center;
  overflow: hidden;
  border-top: 1px solid #523e5a;
  border-bottom: 1px solid #36283e;
}

.nav__item--submenu {
  padding-top: 6px;
  padding-bottom: 3px;
}

.navi__nav:hover {
  visibility: visible;
}

.nav__link {
  display: block;
  line-height: 39px;
  border-bottom: 2px solid transparent;
}

.nav__link--visible {
  visibility: visible;
  padding-top: 1px;
  padding-bottom: 1px;
  line-height: 32px;
}

.nav__link:hover {
  background: rgba(43, 34, 49, 0.9);
  width: 45px;
  margin: auto;
}

.nav__link--hover:hover {
  width: 244px;
}

.slider {
  padding-top: 30px;
}

.header {
  padding-left: 0;
}

.header,
.slide {
  width: 100%;
}

.s-wrp {
  height: 246px;
  background: rgba(0, 0, 0, 0);
}

.slide-block {
  float: none;
  width: 60%;
  margin: auto;
  text-align: center;
  line-height: 26px;
  overflow: hidden;
}

.slide-block__header {
  padding-top: 43%;
  font-size: 35px;
  letter-spacing: 0;
}

.slide-block__subheader {
  margin-top: -5px;
  font-size: 18px;
  letter-spacing: -0.05px;
}

.slide-block__paragraph {
  display: none;
}

.video-block {
  display: none;
}

.video-block::before {
  content: '';
  position: absolute;
  width: 192px;
  height: 304px;
  top: -9px;
  background: url('../img/phone-480.png');
  overflow: hidden;
}

.phone-1,
.phone-2,
.play {
  display: none;
}

.slider__controls {
  bottom: -45px;
  left: 50%;
  margin-left: -50px;
}


.company__text-block {
  width: 82%;
  margin-left: 18%;
  padding-top: 47px;
  padding-bottom: 0;
}

.company__text-block--icon--2 {
  padding-top: 0;
}

.company__text-block--icon--3 {
  padding-top: 0;
}

.company__header {
  font-size: 24px;
}

.company__paragraph {
  padding-top: 2px;
}

.company__link {
  margin-top: 16px;
  margin-bottom: -9px;
  padding-right: 10px;
}

.tablet-hidden {
  display: none;
}

.company__text-block--icon--3 {
  padding-bottom: 76px;
}

.company__text-block--icon--1::before,
.company__text-block--icon--2::before,
.company__text-block--icon--3::before {
  background: url('../img/sprites.png') no-repeat;
  background-position: -311px -11px;
}

.company__text-block--icon--1::before {
  left: -13%;
  top: 38.5%;
}

.company__text-block--icon--2::before,
.company__text-block--icon--3::before  {
  left: -13%;
  top: 1.5%;
}

.phone-show {
  display: inline;
}

.info-slider {
  width: 100%;
  padding-top: 69px;
  padding-bottom: 0;
}

.info-slide {
  position: relative;
  width: 89%;
  height: 271px;
  margin-left: 9.5%;
  box-sizing: border-box;
  padding: 31px 0;
  padding-left: 8%;
  padding-right: 4%;
  background: url('../img/slider-bg.png') no-repeat;
}

.info-slide::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 51px;
  left: -22px;
  top: 19px;
  background: url('../img/sprites.png') no-repeat;
  background-position: -175px 0;
}

.text-block__header {
  margin: 0;
  margin-bottom: 14px;
  font-size: 1.875rem;
  line-height: 24px;
  font-weight: normal;
  text-transform: uppercase;
}

.text-block__header--purple {
  display: inline;
  color: #edbfff;
  letter-spacing: -0.4px;
}

.text-block__paragraph {
  width: 98%;
  max-height: 187px;
  overflow: hidden;
  margin: 0;
  font-family: 'OpenSans', Arial, sans-serif;
  font-weight: 300;
  letter-spacing: -0.1px;
}

.slider__slider-controls {
  margin-top: 22px;
  margin-left: 200px;
}

.posts {
  float: none;
  width: 73%;
  margin-left: 17.5%;
  padding-top: 47px;
  padding-bottom: 129px;
}

.post__header {
  letter-spacing: 0.85px;
}

.posts__more--w768 {
  margin-right: 112px;
}

.brands {
  padding-top: 36px;
}

.brands__tm {
  margin: 0;
}

.brands__link {
  display: inline-block;
  margin-left: 51px;
}

.brands__link--b1 {
  margin-left: 85px;
}

.tm-b1 {
  margin-left: 0;
}

.brands__link--b4 {
  margin-left: 72px;
}

.tm-b4 {
  margin-left: 0;
}

.brands__link--margin {
  margin-top: 20px;
}

.categories__category {
  width: 95%;
  margin-left: 4.3%;
  padding-top: 60px;
  padding-bottom: 0;
}

.categories__category:first-child {
  margin-right: 0;
  margin-left: 4.3%;
}

.categories__logo-header,
.categories__copyright {
  display: none;
}

.categories__header {
  display: block;
  font-size: 1.5rem;
}

.categories__header--desktop {
  display: none;
}

.categories__header {
  margin-top: 0;
}

.categories__centering {
  padding-bottom: 86px;
}

.categories__category--pdng480 {
  padding-top: 82px;
}

.categories__text {
  height: 95px;
  overflow: hidden;
  letter-spacing: -0.1px;
}

.desktop-hidden {
  display: inline;
}

.main-footer {
  height: 200px;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  background: #aa8da7 url('../img/footer-bg-w768.jpg') no-repeat;
  background-position: top center;
}

.centering {
  display: block;
  width: 100%;
}

.centering--jcsb {
  padding: 0;
}

.main-footer__navi {
  width: 417px;
  float: none;
  padding-top: 40px;
  margin-bottom: 86px;
  margin: 0 auto;
}

.navi__nav--footer-480 {
  width: 417px;
  float: none;
  display: inline-block;
  visibility: visible;
  margin: auto;
  padding: 0;
  position: static;
  white-space: nowrap;
  overflow: hidden;
  background: none;
  border: none;
}

.nav__item--footer-480 {
  margin-left: 20px;
  white-space: nowrap;
  min-width: auto;
  border-top: none;
  border-bottom: none;
}

.nav__item:first-child {
  padding-left: 0;
  margin-left: 0;
}

.nav__link--footer-480:hover {
  background: rgba(0, 0, 0, 0);
}

.main-footer__copyright {
  float: none;
  position: absolute;
  right: 50%;
  margin-right: -60px;
  bottom: 75px;
}

.nav__link--footer-480 {
  display: inline;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  line-height: 26px;
}

}
